.ChatList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  position: relative;
}
.ChatItem {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 12px;
  border-radius: 8px;
}
.active {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #000;
}
